{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template paygw_robokassa/method

    Context variables required for this template:
    * fee - the amount to pay
    * currency - the currency of this payment
    * description - what the user paying for

    Example context (json):
    {
        "image": "https://url",
        "sesskey": "abcd",
        "fee": "10.05",
        "currency": "RUB",
        "description": "For enrolment in course",
        "enrolperiod": "7",
        "enrolperiod_desc": "day",
        "passwordmode": "1",
        "skipmode": "1",
        "suggested": "100",
        "group": "Test",
        "maxcost": "1000",
        "fixdesc": "1",
        "fixcost": "0",
        "recurrent": "1",
        "localizedcost": "1 $"
    }

}}
<form id="robokassa-method-select" action="{{config.wwwroot}}/payment/gateway/robokassa/pay.php" class="robokassa-form" method="POST">
    <div class="cost-display">
        <div style="text-align: center;">

{{^fixdesc}}
<p>{{# str }} abouttopay, paygw_robokassa {{/ str}} "{{description}}"</p>
{{/fixdesc}}

{{^fixcost}}
<p>{{# str }} paymore, paygw_robokassa {{/ str}}</p>
{{/fixcost}}

<h3>{{# str }} cost {{/ str}}:
{{^fixcost}}
 <input type="number" id="costself" name="costself"
 value="{{#suggest}}{{suggest}}{{/suggest}}{{^suggest}}{{fee}}{{/suggest}}"
 min="{{fee}}" {{#maxcost}}max="{{maxcost}}"{{/maxcost}} step="0.01"
 style="width: 5em;">{{^fixcost}}&nbsp;{{currency}}{{/fixcost}}
{{/fixcost}}
{{#fixcost}}{{localizedcost}}{{/fixcost}}
</h3>


<img src="{{{image}}}" alt="Robokassa" height="60">

        </div>
    </div>

<br>


<div style="text-align: center;">

{{#enrolperiod}}
<h4>{{# str }} enrolperiod, enrol {{/ str}} ({{enrolperiod_desc}}): {{enrolperiod}}</h4>
{{/enrolperiod}}

{{#recurrent}}
<h5>{{# str }} recurrentdesc, paygw_robokassa {{/ str}}</h5>
{{/recurrent}}

    <p>{{# str }} paymentinstant {{/ str}}</p>
    <button type="submit" class="btn btn-primary" id="robokassa-modal-submit-btn">{{# str }} sendpaymentbutton, paygw_robokassa {{/ str }}</button>
    <br><br>

{{#usedetails}}
<details>
  <summary>{{# str }} usedetails_text, paygw_robokassa {{/ str }}</summary>
{{/usedetails}}

{{#skipmode}}
<p>{{# str }} skipmode_text, paygw_robokassa {{/ str}}</p>
<button type="submit" id="skipmode" name="skipmode" value="1" class="btn btn-secondary btn-paygw-skipmode">{{# str }} skippaymentbutton, paygw_robokassa {{/ str }}</button>
{{/skipmode}}

{{^skipmode}}
{{#passwordmode}}
<p>{{# str }} password_text, paygw_robokassa {{/ str}} <br>
{{# str }} password {{/ str}}: <input type="password" id="password" name="password" value="" autocomplete="off">
<button type="submit" class="btn btn-secondary btn-paygw-password">{{# str }} submit {{/ str }}</button>
</p>
{{/passwordmode}}
{{/skipmode}}

{{#usedetails}}
</details>
{{/usedetails}}

</div>

    <div class="hidden-inputs">
        <input type="hidden" class="hidden-inputs" id="component" name="component" value="{{component}}">
        <input type="hidden" class="hidden-inputs" id="paymentarea" name="paymentarea" value="{{paymentarea}}">
        <input type="hidden" class="hidden-inputs" id="itemid" name="itemid" value="{{itemid}}">
        <input type="hidden" class="hidden-inputs" id="description" name="description" value="{{{description}}}">
        <input type="hidden" class="hidden-inputs" id="sesskey" name="sesskey" value="{{sesskey}}">
    </div>

</form>
