{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template paygw_robokassa/method

    Context variables required for this template:
    * fee - the amount to pay
    * currency - the currency of this payment
    * description - what the user paying for

    Example context (json):
    {
        "fee": "10.05",
        "currency": "RUB",
        "description": "for enrolment in course",
        "enrolperiod": "1",
        "enrolperiod_desc": "day"
        "passwordmode": "1234"
    }

}}
<form id="robokassa-method-select" action="{{url}}/payment/gateway/robokassa/pay.php" class="robokassa-form" method="POST">
    <div class="cost-display">
        <div style="text-align: center;">
            <p>{{# str }} abouttopay, paygw_robokassa {{/ str}} "{{description}}".</p>

<p>{{# str }} paymore, paygw_robokassa {{/ str}}</p>

            <h3>{{# str }} cost {{/ str}}:

<input type="number" id="cost_self" name="cost_self" min="{{fee}}" max="5000" value="{{fee}}" size="7" step="0.01">

 {{currency}}</h3>

{{#enrolperiod}}
<p><h4>{{# str }} enrolperiod, enrol_robokassa {{/ str}} ({{enrolperiod_desc}}): {{enrolperiod}}</h4></p>
{{/enrolperiod}}

<br>

<img src="{{{image}}}" alt="Robokassa" height="60">

        </div>
    </div>

<br><br>

    <div class="hidden-inputs">
        <input type="hidden" class="hidden-inputs" id="component" name="component" value="{{component}}">
        <input type="hidden" class="hidden-inputs" id="paymentarea" name="paymentarea" value="{{paymentarea}}">
        <input type="hidden" class="hidden-inputs" id="itemid" name="itemid" value="{{itemid}}">
        <input type="hidden" class="hidden-inputs" id="description" name="description" value="{{{description}}}">
    </div>

    <div style="text-align: center;">

{{#passwordmode}}
<p>
{{# str }} password_text, paygw_robokassa {{/ str}} <br>
{{# str }} password {{/ str}}: <input type="password" id="password" name="password" value="" autocomplete="off">
</p>
{{/passwordmode}}

<p>{{# str }} paymentinstant {{/ str}}</p>

    <button type="submit" class="btn btn-primary" id="robokassa-modal-submit-btn">{{# str }} sendpaymentbutton, paygw_robokassa {{/ str }}</button>
    </div>
</form>

